### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [204]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

FileNotFoundError: [Errno 2] No such file or directory: 'Resources/purchase_data.csv'

## Player Count

* Display the total number of players

In [205]:
Number_players = len(purchase_data["SN"].unique())
Number_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
Clean_data = purchase_data.drop_duplicates(subset = "SN")

In [4]:
purchase_data

Items = len(purchase_data["Item Name"])

Unique_items = len(purchase_data["Item Name"].unique())

Average_Price = round(sum(purchase_data["Price"])/Items,2)

Total_revenue = sum(purchase_data["Price"])

AnalysisDF = pd.DataFrame([{"Average price": Average_Price, "Total Purchases": Items,"Unique items": Unique_items, 
                            "Total Revenue": Total_revenue}])
AnalysisDF.style
AnalysisDF

   Average price  Total Purchases  Unique items  Total Revenue
0           3.05              780           179        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
Genders = Clean_data["Gender"].value_counts()
Genders = Genders.to_frame()
Percentage = (Genders["Gender"]/Number_players) *100
Genders["Percentage"] = round(Percentage,2)
Genders

                       Gender  Percentage
Male                      484       84.03
Female                     81       14.06
Other / Non-Disclosed      11        1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
DF_Purchase = purchase_data[["Gender","Price"]]
Male_data=purchase_data.loc[purchase_data["Gender"] == "Male", :]
Female_data=purchase_data.loc[purchase_data["Gender"] == "Female", :]
NA_data=purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]

Male_purchase_count = len(Male_data)
Male_sum = sum(Male_data["Price"])
Male_average_purchase = round(Male_data["Price"].mean(),2)
Male_average_person = round(Male_sum/484)

Female_purchase_count = len(Female_data)
Female_sum = sum(Female_data["Price"])
Female_average_purchase = round(Female_data["Price"].mean(),2)
Female_average_person = round(Female_sum/81,2)

NA_purchase_count = len(NA_data)
NA_sum = sum(NA_data["Price"])
NA_average_purchase = round(NA_data["Price"].mean(),2)
NA_average_person = round(NA_sum/11,2)

Summary_gender_df = pd.DataFrame([{"Purchase Count": Male_purchase_count,"Average purchase price": Male_average_purchase, "Total purchase value": Male_sum, "Avg total per person": Male_average_person },
                                 {"Purchase Count": Female_purchase_count,"Average purchase price": Female_average_purchase, "Total purchase value": Female_sum, "Avg total per person": Female_average_person },
                                 {"Purchase Count": NA_purchase_count,"Average purchase price": NA_average_purchase, "Total purchase value": NA_sum, "Avg total per person": NA_average_person }])
Summary_gender_df

,Purchase Count,Average purchase price,Total purchase value,Avg total per person
0,652,3.02,1967.64,4.00
1,113,3.20,361.94,4.47
2,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [139]:
Ages = Clean_data[["SN","Age"]]

Bins=[0, 9, 14, 19,24,29,34,39,150]

Group_names= ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

Agebins = pd.cut(x=Ages['Age'], bins=Bins, labels=Group_names)

Agebin_count = Agebins.value_counts().to_frame()

Percentage_age = round((Agebin_count["Age"]/Number_players)*100,2)

Agebin_count["Percentage"] = Percentage_age

Agebin_count.sort_index()

       Age  Percentage
<10     17        2.95
10-14   22        3.82
15-19  107       18.58
20-24  258       44.79
25-29   77       13.37
30-34   52        9.03
35-39   31        5.38
40+     12        2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [202]:
purchase_data['Age Group'] = pd.cut(purchase_data["Age"],bins=Bins, labels = Group_names)

purchase_data_group = purchase_data.groupby("Age Group")

Total_purchase = purchase_data_group["Price"].sum().to_frame()

Average_price_age = round(purchase_data_group["Price"].mean().to_frame(),2)

Average_total = round(Total_purchase["Price"]/Agebin_count["Age"],2).to_frame()

Total_purchases = purchase_data_group['Age Group'].value_counts().to_frame()

Total_purchases.reset_index(drop = True, inplace = True)

Total_purchases['Age Group'].to_frame()

Total_player_age = purchase_data["Age Group"].value_counts().to_frame()

In [203]:
First_merge=pd.merge(Average_total,Total_purchase,left_index=True, right_index=True, how='outer')

Second_merge = pd.merge(First_merge,Average_price_age,left_index=True, right_index=True, how='outer')

Final_merge = pd.merge(Second_merge,Total_player_age,left_index=True, right_index=True, how='outer')

Final_merge

df = Final_merge.rename(columns={'0': 'Average Total Purchase per person ', 'Price_x': 'Total Purchase',"Price_y":"Average purchase price",
                                "Age Group": "Purchase Count"})
df

          0  Total Purchase  Average purchase price  Purchase Count
<10    4.54           77.13                    3.35              23
10-14  3.76           82.78                    2.96              28
15-19  3.86          412.89                    3.04             136
20-24  4.32         1114.06                    3.05             365
25-29  3.81          293.00                    2.90             101
30-34  4.12          214.00                    2.93              73
35-39  4.76          147.67                    3.60              41
40+    3.19           38.24                    2.94              13

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [185]:
Top_Spenders = purchase_data["SN"].value_counts().to_frame()


Grouped = purchase_data.groupby("SN")

Grouped_df = Grouped.sum()


Grouped_df.sort_values(by="Price")

Top_spend = purchase_data.loc[(purchase_data["SN"] == "Lisosia93") | (
    purchase_data["SN"] == "Iral74") | (purchase_data["SN"] == "Idastidru52") |(purchase_data["SN"] == "Iskadarya95") 
                              |(purchase_data["SN"] == "Chamjask73"), :]

Balling = Top_spend.groupby("SN")

Group_df = Grouped_df.drop(columns=['Purchase ID', 'Age','Item ID'])

Clean_frame = Group_df.sort_values(by="Price", ascending = False).head(5)

Clean_frame["Purchase Count"] = Top_Spenders["SN"]

Clean_frame["Average Purchase Price"] = round(Clean_frame["Price"]/Clean_frame["Purchase Count"],2)

In [186]:
Clean_frame

             Price  Purchase Count  Average Purchase Price
SN
Lisosia93    18.96               5                    3.79
Idastidru52  15.45               4                    3.86
Chamjask73   13.83               3                    4.61
Iral74       13.62               4                    3.40
Iskadarya95  13.10               3                    4.37

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [194]:
List = ["Item ID", "Item Name", "Price"]

Item_data = purchase_data[List]

Group_item = Item_data.groupby(["Item ID", "Item Name"],)

Total_price = Group_item.sum().sort_values(by="Price",ascending=False)

Total_price["Total price"] = Total_price["Price"]

Total_price["Purchase Count"] = Group_item.count()

Data = Total_price["Total price"].to_frame()

Data["Purchase Count"] = Group_item.count()

Count = Group_item.count()

Data["Item Price"] = round(Total_price["Total price"]/Total_price["Purchase Count"],2)

Data = Data[['Purchase Count', 'Item Price', 'Total price']]

Data.head(5)

,,Purchase Count,Item Price,Total price
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
103,Singed Scalpel,8,4.35,34.80

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [195]:
Data.sort_values(by="Total price",ascending=False)
Data.head(5)

,,Purchase Count,Item Price,Total price
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
103,Singed Scalpel,8,4.35,34.80