### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup

import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = r"C:\Users\Nick\Documents\School\Homework\Pandas-Challenge\Heroes_Of_Pymoli\Resources\purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
Number_players = len(purchase_data["SN"].unique())
Number_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
Clean_data = purchase_data.drop_duplicates(subset = "SN")

In [5]:
purchase_data

Items = len(purchase_data["Item Name"])

Unique_items = len(purchase_data["Item Name"].unique())

Average_Price = round(sum(purchase_data["Price"])/Items,2)

Total_revenue = sum(purchase_data["Price"])

AnalysisDF = pd.DataFrame([{"Average price": Average_Price, "Total Purchases": Items,"Unique items": Unique_items, 
                            "Total Revenue": Total_revenue}])
AnalysisDF.style
AnalysisDF

   Average price  Total Purchases  Unique items  Total Revenue
0           3.05              780           179        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
Genders = Clean_data["Gender"].value_counts()
Genders = Genders.to_frame()
Percentage = (Genders["Gender"]/Number_players) *100
Genders["Percentage"] = round(Percentage,2).astype(str) + '%'
Genders.style


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
Gender_data = purchase_data.groupby(["Gender"])

Sum_frame = pd.DataFrame(Gender_data["Price"].sum())

Sum_frame["Purchase Count"]=Gender_data["Gender"].count().to_frame()

Sum_frame["Average Purchase Price"]=round(Gender_data["Price"].mean(),2).to_frame().astype(str) + '$'

Sum_frame["Avg Total Purchase per Person"]=round(Sum_frame['Price']/Genders["Gender"],2).astype(str) + '$'

Sum_frame.reset_index(drop=True)

Sum_frame.rename(columns={'Price':'Total Purchase Value'})

,Total Purchase Value,Purchase Count,Average Purchase Price,Avg Total Purchase per Person
Gender,,,,
Female,361.94,113,3.2$,4.47$
Male,1967.64,652,3.02$,4.07$
Other / Non-Disclosed,50.19,15,3.35$,4.56$

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
Ages = Clean_data[["SN","Age"]]

Bins=[0, 9, 14, 19,24,29,34,39,150]

Group_names= ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

Agebins = pd.cut(x=Ages['Age'], bins=Bins, labels=Group_names)

Agebin_count = Agebins.value_counts().to_frame()

Percentage_age = round((Agebin_count["Age"]/Number_players)*100,2).astype(str) + '%'

Agebin_count["Percentage"] = Percentage_age

Agebin_count.sort_index()

       Age Percentage
<10     17      2.95%
10-14   22      3.82%
15-19  107     18.58%
20-24  258     44.79%
25-29   77     13.37%
30-34   52      9.03%
35-39   31      5.38%
40+     12      2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:

Ages = purchase_data[["Price","Age"]]

Bins=[0, 9, 14, 19,24,29,34,39,150]

Group_names= ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

purchase_data["Age Group"] = pd.cut(x=Ages['Age'], bins=Bins, labels=Group_names)

purchase_data_group = purchase_data[['Price','Age Group']].groupby(['Age Group'])

Sum_frame_age = pd.DataFrame(purchase_data_group["Price"].sum())

Sum_frame_age["Total Purchase Value"] = round(Sum_frame_age,2)

Sum_frame_age["Purchase Count"] = purchase_data_group.count()

Sum_frame_age["Average Purchase Price"] = round(Sum_frame_age["Total Purchase Value"]/Sum_frame_age["Purchase Count"],2).astype(str) + '$'

Sum_frame_age["Average Total per Person"] = round(Sum_frame_age['Total Purchase Value']/Agebin_count["Age"],2).astype(str) + '$'

Sum_frame_age.drop(columns=['Price'])

,Total Purchase Value,Purchase Count,Average Purchase Price,Average Total per Person
Age Group,,,,
<10,77.13,23,3.35$,4.54$
10-14,82.78,28,2.96$,3.76$
15-19,412.89,136,3.04$,3.86$
20-24,1114.06,365,3.05$,4.32$
25-29,293.00,101,2.9$,3.81$
30-34,214.00,73,2.93$,4.12$
35-39,147.67,41,3.6$,4.76$
40+,38.24,13,2.94$,3.19$

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [25]:
Top_Spenders = purchase_data[["SN","Price"]].groupby("SN")

Top_Spender_DF = pd.DataFrame(Top_Spenders["SN"].count())

Top_Spender_DF["Total Purchase Value"] = Top_Spenders["Price"].sum()

Top_Spender_DF["Average Purchase Price"] = round(Top_Spender_DF["Total Purchase Value"]/Top_Spender_DF["SN"],2).astype(str) + '$'

Top_Spender_DF.rename(columns={"SN": "Purchase Count"},inplace = True)

Top_Spender_DF.sort_values(by=["Total Purchase Value"],ascending = False).head(5)

             Purchase Count  Total Purchase Value Average Purchase Price
SN
Lisosia93                 5                 18.96                  3.79$
Idastidru52               4                 15.45                  3.86$
Chamjask73                3                 13.83                  4.61$
Iral74                    4                 13.62                   3.4$
Iskadarya95               3                 13.10                  4.37$

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [26]:
List = ["Item ID", "Item Name", "Price"]

Item_data = purchase_data[List]

Group_item = Item_data.groupby(["Item ID", "Item Name"],)

Total_price = Group_item.sum().sort_values(by="Price",ascending=False)

Total_price["Total price"] = Total_price["Price"]

Total_price["Purchase Count"] = Group_item.count()

Data = round(Total_price["Total price"].to_frame(),2).astype(str) + '$'

Data["Purchase Count"] = Group_item.count()

Count = Group_item.count()

Data["Item Price"] = round(Total_price["Total price"]/Total_price["Purchase Count"],2).astype(str) + '$'

Data = Data[['Purchase Count', 'Item Price', 'Total price']]

Data.head(5)

,,Purchase Count,Item Price,Total price
Item ID,Item Name,,,
92,Final Critic,13,4.61$,59.99$
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23$,50.76$
82,Nirvana,9,4.9$,44.1$
145,Fiery Glass Crusader,9,4.58$,41.22$
103,Singed Scalpel,8,4.35$,34.8$

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
Data.sort_values(by="Total price",ascending=False)
Data.head(5)